extend ../_shared/_master

block body
	.wrapall
		if (message && message.length > 0)
			div.flash-message-red
				| #{message}
		.card-container
			form#register-form.form-vertical(action='/register' method="POST")
				fieldset
					div(id="legend")
						legend
							| Register
					label.control-label(for="username")
						| Username
					input#username.form-control(type="text" name="username" placeholder="Username can contain any letters or numbers, without spaces")
									
					label.control-label(for="firstName")
						| First Name
					input#firstName.form-control(type="text" name="firstName" placeholder="Please enter your first Name")

					label.control-label(for="lastName")
						| Last Name
					input#lastName.form-control(type="text" name="lastName" placeholder="Please enter your last Name")

					label.control-label(for="phone")
						| Phone Number
					input#phone.form-control(type="text" name="phone" placeholder="Please enter your phone Number")

					label.control-label(for="email")
						| E-mail
					input#email.form-control(type="text" name="email" placeholder="Please provide your E-mail")

					label.control-label(for="password")
						| Password
					input#password.form-control(type="password" name="password" placeholder="Password should be at least 4 characters")

					br
					button.btn.btn-info.btn-block(type="submit")
						| Регистрирай се